
.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu';
}

.Container{
  height: 300px;
  background: #fff;
  padding:10px;
  border:10px solid #2C3E50;
  margin:20px;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

 /*  
  flex-flow: row wrap;  Esto esta cool para centrar aunque ojito*/
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
/*  

  align-content: space-around; */
 /* 
   */
}

.Element{
  color:#fff;
  text-align: center;
}


.imgFrame {
  border-color:black;
}