
.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu';
}

.imgRound {
  width:120px;
  height:120px;
  border-radius:150px;
 border:10px solid #666;
}

.imgFrame {
  border-color:black;
}